.stl{
font-family: sans-serif;
font-size: 50px;
border-style: solid;
width: 90%;
margin: 0 auto;/*centraliza a borda*/
text-align: center;

background-color:rgb(146, 146, 146); 


}
.ul{
    font-family: sans-serif;
    border-style:solid ;
    width: 20%;
    margin:0 auto;

    background-color:rgb(146, 146, 146); 
    font-size:20px;
text-align:center ;
}
.ul1{
    font-family:sans-serif ;
font-size:15px ;
border-style:solid;
margin:10px ;
width:7% ;
background-color:rgb(146, 146, 146); 

}
.ul2{
    font-family:sans-serif ;
font-size:15px ;
border-style:solid;
margin:10px ;
width:10% ;
background-color:rgb(146, 146, 146); 

}
.ul3{
    font-family:sans-serif ;
font-size:15px ;
border-style:solid;
margin:10px ;
width:10% ;
background-color:rgb(146, 146, 146); 

}
.ul4{
    font-family:sans-serif ;
font-size:15px ;
border-style:solid;
margin:10px ;
width:11% ;
background-color:rgb(146, 146, 146); 

}
.ul5{
    font-family:sans-serif ;
font-size:15px ;
border-style:solid;
margin:10px ;
width:7% ;
background-color:rgb(146, 146, 146); 

}




